/* Medias para la descricpion y colocar el mapa */
@media screen and (max-width: 992px)
{
    div#descripcion_sup992
    {
        display: none;
    }
}

@media screen and (min-width: 993px)
{
    div#descripcion_min992
    {
        display: none;
    }
}
.estilo_info_perfilUno
{
    position: inherit;

    margin-left: -190px;
}

.line span
{
    display: block;
    float: left;

    width: 20%;
    height: 10px;
}
.line
{
    width: 100%;
}
.color-1
{
    background: #5d387f;
}
.color-2
{
    background: #92beb9;
}
.color-3
{
    background: #c6d355;
}
.color-4
{
    background: #e7b649;
}
.color-5
{
    background: #c22d46;
}

.morado {
    color: #5d387f;
}