/* Medias para la descricpion y colocar el mapa */
@media screen and (max-width: 992px)
{
    div#descripcion_sup992
    {
        display: none;
    }
}

@media screen and (min-width: 993px)
{
    div#descripcion_min992
    {
        display: none;
    }
}
.estilo_info_perfilUno
{
    position: inherit;

    margin-left: -190px;
}

.overlay-div .detalles-overlay_title
{
    font-size: 14px;
    font-weight: 400;

    margin-left: 20px;

    text-transform: uppercase;

    color: #ffd220;
    background-color: #1a1a1a;
}

.overlay-div .detalles-overlay_fecha
{
    font-size: 12px;
    font-weight: 400;

    display: block;

    color: #fff;
}

.overlay-div .detalles-overlay_fecha2
{
    font-size: 10px;

    color: #fff;
}

.overlay-div .detalles-overlay_icon
{
    width: 20px;
    margin: 12px 22px;
}

.container-special .special-margins
{
    margin-top: 30px;
    margin-bottom: -6px;
}

.space-bottom-20
{
    margin-bottom: 20px;
}

.space-bottom-10
{
    margin-bottom: 10px;
}

table.table-special {
    font-size: 15px;
    margin-top: 70px;
}

.line span
{
    display: block;
    float: left;

    width: 20%;
    height: 10px;
}
.line
{
    width: 100%;
}
.color-1
{
    background: #5d387f;
}
.color-2
{
    background: #92beb9;
}
.color-3
{
    background: #c6d355;
}
.color-4
{
    background: #e7b649;
}
.color-5
{
    background: #c22d46;
}

.morado
{
    color: #5d387f;
}

.white
{
    color: #fff;
}
